<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
        <title>{{ title }} - Forum</title>
        {% else %}
        <title>Welcome to Ronin</title>
        {% endif %}
    </head>
    <body>
        <div>
            Ronin Forum:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('post') }}">Post</a>
            <a href="{{ url_for('forum') }}">Forum</a>
            <a href="{{ url_for('ticketmaker') }}">Create Ticket</a>
            <a href="{{ url_for('simon') }}">Simon's Website</a>
			<a href="http://heybarnes.com:8123/">DynMap</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
