{% extends "base.html" %}

{% block content %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;"><strong>oh shiyt what he be thinkin doe</strong></h2>
<h2 style="color: #2e6c80;">Some useful features:</h2>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" />eat me!!!!!!!!!1!!1!!11!!!!!!1!1!</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" />cum rag ;) ;);)</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/05-gibberish.png" alt="gibberish" width="45" />blar</li>
</ol>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<h2 style="color: #2e6c80;">Cleaning options:</h2>
<table class="editorDemoTable" style="width: 231px; height: 2px;">
<tbody>
<tr style="height: 21px;">
<td style="height: 21px; width: 135.333px;">&nbsp;</td>
<td style="height: 21px; width: 10px;"><img style="margin: 1px 15px;" src="images/smiley.png" alt="laughing" width="40" height="16" />SHIT</td>
<td style="height: 21px; width: 140px;">&nbsp;NO!</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 135.333px;">&nbsp;</td>
<td style="height: 18px; width: 10px;">&nbsp;</td>
<td style="height: 18px; width: 140px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 113px;" border="10" width="465" cellspacing="10" cellpadding="10"><caption>hudsans</caption>
<tbody>
<tr>
<td style="width: 147px;">if ron</td>
<td style="width: 148px;">RUN</td>
<td style="width: 148px;">find a safe location</td>
</tr>
<tr>
<td style="width: 147px;">if bar&nbsp;</td>
<td style="width: 148px;">don't panic he is peaceful mob</td>
<td style="width: 148px;">stay and pet it</td>
</tr>
</tbody>
</table>
{% endblock %}