{% extends "base.html" %}

{% block content %}
<p>&nbsp;</p>
<h1><span style="color: #ff6600;">BRUHHHHHH&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /><img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /><img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></span></h1>
<p><span style="color: #ff6600;">Cymin's website&reg;</span></p>
<h2><span style="color: #ff6600;">How to become a member</span></h2>
<p><span style="color: #000000;">Step 1 : Die</span></p>
<p><span style="color: #000000;">Step 2 : Read the bible</span></p>
<p><span style="color: #000000;">Step 3 : Fight sans</span></p>
<p><span style="color: #000000;">Steps 4; do duolingo</span></p>
<p><span style="color: #000000;">Steps';5 funny cat</span></p>
<p><span style="color: #000000;"><img src="https://cdn.discordapp.com/attachments/532729650498240513/639661024601047061/oliver-is-cool.PNG" alt="" width="185" height="184" /></span></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Funny Cat</p>
<p><span style="color: #00ffff;"><span style="background-color: #ff9900;">&nbsp; &nbsp; &nbsp; enter if you darte!?&nbsp; &nbsp; &nbsp; &nbsp;</span></span></p>
<h2>Member;s cLUB&nbsp; -cool persons only&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></h2>
<table style="width: 63px;" border="10" width="465" cellspacing="10" cellpadding="10">
<tbody>
<tr>
<td style="width: 35px;">
<p>Owen</p>
</td>
<td style="width: 32px;">Hucc</td>
</tr>
<tr>
<td style="width: 35px;">Bar</td>
<td style="width: 32px;">Evan</td>
</tr>
</tbody>
</table>
<p>note - this not members just cool table i maked</p>
<p>hoodsans be's like; *pee*</p>
<p>myname es cymin I am cooler liek that ---&gt;./</p>
<p>Food Chain // Beeta --&gt; Tobee --&gt; Egg --&gt; Cymin --&gt; Bawn --&gt; Evan --&gt; Owen --&gt;&nbsp;<span style="color: #3366ff;"><span style="color: #0000ff;"><span style="color: #ff6600;">huccsan</span></span></span></p>
<p><span style="color: #00ff00;">Hope you enjoyed the epoc foods chain</span></p>
<p><span style="color: #33cccc;">More Foony Cat</span></p>
<p><span style="color: #33cccc;"><img src="https://lh3.googleusercontent.com/-fwH403bsODU/XbupTuDYPxI/AAAAAAAAD4I/Mi8g_7alE0EzFm65y8eIWDERIVKKhAMOwCK8BGAsYHg/s0/2019-10-31.jpg" alt="" width="121" height="215" /></span></p>
<p><span style="color: #ff0000;">Wait a mineut, that is NOt a foony cat, is LoLa!!!!</span></p>

{% endblock %}
